.content {
    display: grid;
    grid-template-rows: 3fr 1fr 4fr;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
            "avatar prof"
            "avatar mypost"
            "avatar posts";
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}