.friends {
    padding: 5px;
}

.friends img {
    width: 150px;
    height: 100px;
}

.friend {
    margin-bottom: 10px;
}

.selectedPage {
    font-weight: bold;
    margin: 2px;
}

.pagesNumbers {
    margin: 2px;
}