.app-wrapper {
  display: grid;
  grid-template-rows: 50px 400px;
  grid-template-columns: 200px auto;
  grid-template-areas:
  "head head"
  "nav content";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.app-wrapper-content {

}
