.app-wrapper {
  display: grid;
  grid-template-rows: 50px 400px 50px;
  grid-template-columns: 1fr 5fr;
  grid-template-areas:
  "head head"
  "nav content"
  "footer footer";
  grid-column-gap: 20px;
  grid-row-gap: 10px;
}
.app-wrapper-content {

}
